:root{
    font-size: 18px;
}
body{
    font-family: 'Courier Prime', monospace; 
}
/* header*/
.heder_text{
    font-size: 1.5rem;
    padding-left: 4rem;
    box-sizing: border-box;
}
.heder_text_color{
    color:#4bcaff ;
}
.ramda_a{
    color: black;
    text-decoration: none;
}
/*top_nav_menu*/
.ul1{
    list-style: none;
    padding: 0;
    margin: 0;
}
.li1{
    display: inline-block;
}
.top_buttons{
    margin-left: 4%;
    text-align: center;
    width: 92.5%;
    background-color: #35444f;
    box-sizing: border-box;
}
.top_buttons_in{
    color: aliceblue;
     height: 3rem; 
    background-color: #35444f;
    display: inline-block;  
     
    padding: 0.7rem 0.5rem 0 0.5rem; 
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 2.3rem; 
    border: 1px solid transparent;
    border-top: 0;
    border-bottom: 0;
    font-size: 24px;
}
.top_buttons_in:hover{
    background-color: #222f3a;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
}
/*left_nav_menu*/
.left_main_section{
   border: 0.1vw;
    border-style: solid;
    border-color: black;
    display: inline-block;
    width: 28%
    ;
    margin-left: 4vw;
    margin-top: 4vh;
    white-space: nowrap;
}
.text_in_left_main_section{
    font-size: 3vh;
    text-decoration: none;
    color: #495863;
    display: block;
    padding-left: 2vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 7vw;
    box-sizing: border-box;
    overflow: hidden;
}
.text_in_left_main_section:hover{
    background-color:#dbdbdb ;
    color: black;
    padding-left: 3vw;
}
/*img*/
.Aries{
    border-style: solid;
    border: 0.1vw;
    border-color: black;
    border-style: solid;
    display: inline-block;
    vertical-align: top;
    margin-left: 4vw;
    margin-top: 4vh;
    background-image: url("../img/top-img@1X.png");
    background-size: 35% 60%;
    height: 29rem;
    width: 58%;
    background-repeat: no-repeat;
    background-position: center;
}
/*central_text_block*/
.text_under_Aries{
    font-size: 2vh;
    font-weight: 400;
    margin-top: 3vh;
    padding:  0 3% 0 38%;
    letter-spacing: -.1rem;
}
/*bottom_nav_menu*/
.foter_section{
    background-color:#b4b7ba ;
    margin: 3% 4% ;
    height: 4%;
    text-align: left;
    line-height: 8vh;
}
.text_in_left_fodter_section{
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    padding-left: 1rem;
    letter-spacing: -.1rem;
}
.text_in_left_fodter_section:hover{
    text-decoration: underline;
    text-decoration-color: #4b8caa;
    color: #4b8caa;
}
.last_text{
    font-size: 1.1rem;
    letter-spacing: -.1rem;
}
.lastli{
    margin-left: 12%;
    padding: 0;
    display: inline-block;
}
